<ul class="dashboard-folders">
  <li class="dashboard-folder">
    <a href="#">
      Drafts
      <span class="dashboard-folder__count">3</span>
    </a>
  </li>
  <li class="dashboard-folder">
    <a href="#">
      Awaiting response
      <span class="dashboard-folder__count">7</span>
    </a>
  </li>
  <li class="dashboard-folder">
    <a href="#">
      Response received
      <span class="dashboard-folder__count">1</span>
    </a>
  </li>
  <li class="dashboard-folder dashboard-folder--disabled">
    Clarification needed
    <span class="dashboard-folder__count">0</span>
  </li>
  <li class="dashboard-folder">
    <a href="#">
      Complete
      <span class="dashboard-folder__count">3</span>
    </a>
  </li>
  <li class="dashboard-folder">
    <a href="#">
      Status unknown
      <span class="dashboard-folder__count">7</span>
    </a>
  </li>
  <li class="dashboard-folder">
    <a href="#">
      All requests
      <span class="dashboard-folder__count">18</span>
    </a>
  </li>
</ul>