<ul class="dashboard-folders">
  <li class="dashboard-folder dashboard-folder--top-level dashboard-folder--selected">
    <a href="#">
      All requests
      <span class="dashboard-folder__count"></span>
    </a>
  </li>
  <ul class="dashboard-sub-folders">
    <li class="dashboard-folder">
      <a href="#">
        Drafts
        <span class="dashboard-folder__count">3</span>
      </a>
    </li>
    <li class="dashboard-folder">
      <a href="#">
        Awaiting response
        <span class="dashboard-folder__count">7</span>
      </a>
    </li>
    <li class="dashboard-folder">
      <a href="#">
        Response received
        <span class="dashboard-folder__count">1</span>
      </a>
    </li>
    <li class="dashboard-folder dashboard-folder--disabled">
      <div class="fake-link">
        Clarification needed
        <span class="dashboard-folder__count">0</span>
      </div>
    </li>
    <li class="dashboard-folder">
      <a href="#">
        Complete
        <span class="dashboard-folder__count">3</span>
      </a>
    </li>
    <li class="dashboard-folder">
      <a href="#">
        Status unknown
        <span class="dashboard-folder__count">7</span>
      </a>
    </li>
  </ul>
  <li class="dashboard-folder dashboard-folder--top-level">
    <a href="#">
      Schools
      <span class="dashboard-folder__count">11</span>
    </a>
  </li>
  <li class="dashboard-folder dashboard-folder--top-level">
    <a href="#">
      NHS North West
      <span class="dashboard-folder__count">7</span>
    </a>
  </li>
</ul>