<div class="request">
  <h3 class="request__title">
    <a href="/ap/request">Domestic abuse records 2014-2016</a>
  </h3>

  <div class="request__meta">

    <div class="request__recipient">
      <span class="request__meta__label">Request to</span>
      Crown Prosecution Service
    </div>

    <div class="request__created">
      <span class="request__meta__label">Created</span>
      07-09-2016
    </div>

    <div class="request__updated">
      <span class="request__meta__label">Updated</span>
      27-10-2016
    </div>

    <div class="request__status">
      <span class="request__meta__label">Status</span>
      Partially successful
    </div>

    <div class="request__actions">
      <select id="actions" class="actions">
        <option>Actions</option>
        <option>View</option>
        <option>Send followup</option>
      </select>
    </div>

  </div> <!-- .request__meta -->

</div> <!-- .request -->