
<h1>Find an authority</h1>

<div id="authority_selection" class="authority_selection">
  <form accept-charset="UTF-8" action="/select_authority" id="search_form" method="get"><div style="margin:0;padding:0;display:inline"><input name="utf8" value="✓" type="hidden"></div>
    <div>
      <p>
        First, type in the <strong>name of the public authority</strong> you'd
        like information from.
          <strong>By law, they have to respond</strong> (<a href="https://www.whatdotheyknow.com/help/about#whybother_them">why?</a>).
      </p>
      <label for="query" class="visually-hidden">Authority name</label>
      <input id="query" name="query" placeholder="e.g. Ministry of Defence" size="30" title="type your search term here" type="text">
      <input id="bodies" name="bodies" value="1" type="hidden">
      <input name="commit" value="Search" type="submit">
    </div>

</form>
  <div id="typeahead_response" class="typeahead_response">

  </div>

  <div class="asktheeu-promo">
      <h4 class="asktheeu-promo__header">Looking for an EU Authority?</h4>
      <p>You can request <em>documents</em> directly from EU Institutions at our sister site
        <a href="http://asktheeu.org/?utm_source=whatdotheyknow&amp;utm_medium=banner&amp;utm_content=select_authority&amp;utm_campaign=alaveteli-experiments-54">
          AskTheEU.org
        </a>.
        <a href="http://www.asktheeu.org/en/help/requesting/?utm_source=whatdotheyknow&amp;utm_medium=banner&amp;utm_content=select_authority&amp;utm_campaign=alaveteli-experiments-54">
          Find out more
        </a>.
      </p>
      <a href="http://asktheeu.org/?utm_source=whatdotheyknow&amp;utm_medium=banner&amp;utm_content=select_authority&amp;utm_campaign=alaveteli-experiments-54" class="asktheeu-promo__image">
        <img src="Find%20an%20authority%20-%20WhatDoTheyKnow_files/ask-the-eu-logo-c51517273b8a42dd66b0f1793610ad1e.png" alt="AskTheEU.org">
      </a>
    </div>

</div>

<div id="select_authority_help" class="select_authority_help">
  <p class="info">Can't find the one you want?</p>
  <p class="actions">
    <a href="https://www.whatdotheyknow.com/body/list/all">Browse all</a> or <a href="https://www.whatdotheyknow.com/help/requesting#missing_body">ask us to add one</a>.
  </p>
</div>