<h1>Find an authority</h1>

<div id="authority_selection" class="authority_selection">
  <form accept-charset="UTF-8" action="/select_authority" id="search_form" method="get"><div style="margin:0;padding:0;display:inline"><input name="utf8" value="✓" type="hidden"></div>
    <div>
      <p>
        First, type in the <strong>name of the public authority</strong> you'd
        like information from.
          <strong>By law, they have to respond</strong> (<a href="https://www.whatdotheyknow.com/help/about#whybother_them">why?</a>).
      </p>
      <label for="query" class="visually-hidden">Authority name</label>
      <input id="query" name="query" placeholder="e.g. Ministry of Defence" size="30" title="type your search term here" data-com.agilebits.onepassword.user-edited="yes" value="Minis" type="text">
      <input id="bodies" name="bodies" value="1" type="hidden">
      <input name="commit" value="Search" type="submit">
    </div>

</form>
  <div id="typeahead_response" class="typeahead_response">    <p>Matching authorities</p>
  <div class="authority_search_ahead_results_container">
    <div id="authority_search_ahead_results">

<div class="body_listing">
  <span class="head">
    <a href="https://www.whatdotheyknow.com/body/number_10">Prime Minister’s Office</a>
  </span>
  <span class="desc">
        Also called Number 10.
        The Prime Minister or PM is the Head of the UK Government, based
 in 10 Downing Street ("Number 10"). The Prime Minister is ultimately
responsible for t...
      <br>
  </span>
  <span class="bottomline">
    896 requests made.
    <br>
    <span class="date_added">
      Added on <time datetime="2008-04-20T08:02:30+01:00" title="2008-04-20 08:02:30 +0100">20 April 2008</time>.
    </span>
    <br>
  </span>

    <div class="make-request-quick-button">
      <a href="https://www.whatdotheyknow.com/new/number_10" class="link_button_green">Make a request</a>
    </div>
</div>



<div class="body_listing">
  <span class="head">
    <a href="https://www.whatdotheyknow.com/body/iap">Independent Advisory Panel on Deaths in Custody</a>
  </span>
  <span class="desc">
        Also called IAP.
        The Council's work covers deaths in prisons, police custody,
immigration detention approved premises and also deaths of those
detained in hospital unde...
      <br>
  </span>
  <span class="bottomline">
    10 requests made.
    <br>
    <span class="date_added">
      Added on <time datetime="2011-08-27T09:16:21+01:00" title="2011-08-27 09:16:21 +0100">27 August 2011</time>.
    </span>
    <br>
  </span>

    <div class="make-request-quick-button">
      <a href="https://www.whatdotheyknow.com/new/iap" class="link_button_green">Make a request</a>
    </div>
</div>



<div class="body_listing">
  <span class="head">
    <a href="https://www.whatdotheyknow.com/body/moj">Ministry of Justice</a>
  </span>
  <span class="desc">
        Also called MoJ.
        The Ministry of Justice is one of the largest government departments, employing over 70,000 people.
      <br>
  </span>
  <span class="bottomline">
    2755 requests made.
    <br>
    <span class="date_added">
      Added on <time datetime="2008-02-21T15:55:30+00:00" title="2008-02-21 15:55:30 +0000">21 February 2008</time>.
    </span>
    <br>
  </span>

    <div class="make-request-quick-button">
      <a href="https://www.whatdotheyknow.com/new/moj" class="link_button_green">Make a request</a>
    </div>
</div>



<div class="body_listing">
  <span class="head">
    <a href="https://www.whatdotheyknow.com/body/cabinet_office">Cabinet Office</a>
  </span>
  <span class="desc">
        The Cabinet Office is a department of the Government of the
United Kingdom responsible for supporting the Prime Minister and
Cabinet.[1]

The Cabinet...
      <br>
  </span>
  <span class="bottomline">
    1320 requests made.
    <br>
    <span class="date_added">
      Added on <time datetime="2008-02-21T17:49:07+00:00" title="2008-02-21 17:49:07 +0000">21 February 2008</time>.
    </span>
    <br>
  </span>

    <div class="make-request-quick-button">
      <a href="https://www.whatdotheyknow.com/new/cabinet_office" class="link_button_green">Make a request</a>
    </div>
</div>



<div class="body_listing">
  <span class="head">
    <a href="https://www.whatdotheyknow.com/body/mod">Ministry of Defence</a>
  </span>
  <span class="desc">
        Also called MOD.
        The Ministry of Defence (MOD) is the UK government department
responsible for implementation of government defence policy and for the
British Armed For...
      <br>
  </span>
  <span class="bottomline">
    3355 requests made.
    <br>
    <span class="date_added">
      Added on <time datetime="2008-03-02T17:30:36+00:00" title="2008-03-02 17:30:36 +0000"> 2 March 2008</time>.
    </span>
    <br>
  </span>

    <div class="make-request-quick-button">
      <a href="https://www.whatdotheyknow.com/new/mod" class="link_button_green">Make a request</a>
    </div>
</div>



<div class="body_listing">
  <span class="head">
    <a href="https://www.whatdotheyknow.com/body/mdp">Ministry of Defence Police</a>
  </span>
  <span class="desc">
        Also called MDP.
        The Ministry of Defence Police is a specialised national
civilian police service.  MDP provides civil policing and armed security
 for Defence and Criti...
      <br>
  </span>
  <span class="bottomline">
    93 requests made.
    <br>
    <span class="date_added">
      Added on <time datetime="2008-04-11T00:49:44+01:00" title="2008-04-11 00:49:44 +0100">11 April 2008</time>.
    </span>
    <br>
  </span>

    <div class="make-request-quick-button">
      <a href="https://www.whatdotheyknow.com/new/mdp" class="link_button_green">Make a request</a>
    </div>
</div>



<div class="body_listing">
  <span class="head">
    <a href="https://www.whatdotheyknow.com/body/executive_office_northern_ireland">Executive Office (Northern Ireland)</a>
  </span>
  <span class="desc">
        Previously the Office of the First Minister and Deputy First Minister (Northern Ireland)
      <br>
  </span>
  <span class="bottomline">
    75 requests made.
    <br>
    <span class="date_added">
      Added on <time datetime="2008-07-05T15:00:49+01:00" title="2008-07-05 15:00:49 +0100"> 5 July 2008</time>.
    </span>
    <br>
  </span>

    <div class="make-request-quick-button">
      <a href="https://www.whatdotheyknow.com/new/executive_office_northern_ireland" class="link_button_green">Make a request</a>
    </div>
</div>



<div class="body_listing">
  <span class="head">
    <a href="https://www.whatdotheyknow.com/body/uksc">Supreme Court of the United Kingdom</a>
  </span>
  <span class="desc">
        Also called UKSC.
        In October 2009, The Supreme Court replaced the Appellate
Committee of the House of Lords as the highest court in the United
Kingdom.  The court normal...
      <br>
  </span>
  <span class="bottomline">
    156 requests made.
    <br>
    <span class="date_added">
      Added on <time datetime="2009-10-13T23:43:10+01:00" title="2009-10-13 23:43:10 +0100">13 October 2009</time>.
    </span>
    <br>
  </span>

    <div class="make-request-quick-button">
      <a href="https://www.whatdotheyknow.com/new/uksc" class="link_button_green">Make a request</a>
    </div>
</div>



<div class="body_listing">
  <span class="head">
    <a href="https://www.whatdotheyknow.com/body/home_office">Home Office</a>
  </span>
  <span class="desc">
        Do NOT use this page to contact the Home Office about your
passport, ILR or other documents, or about your application for asylum.
The Home Office is...
      <br>
  </span>
  <span class="bottomline">
    6865 requests made.
    <br>
    <span class="date_added">
      Added on <time datetime="2008-01-07T11:56:15+00:00" title="2008-01-07 11:56:15 +0000"> 7 January 2008</time>.
    </span>
    <br>
  </span>

    <div class="make-request-quick-button">
      <a href="https://www.whatdotheyknow.com/new/home_office" class="link_button_green">Make a request</a>
    </div>
</div>



<div class="body_listing">
  <span class="head">
    <a href="https://www.whatdotheyknow.com/body/hmcts">Her Majesty’s Courts and the Tribunals Service</a>
  </span>
  <span class="desc">
        Also called HMCTS.
        Please note that Her Majesty's Courts and Tribunal Service
(HMCTS) is separate from the Judiciary. HMCTS deals purely with
administration. They are not...
      <br>
  </span>
  <span class="bottomline">
    1429 requests made.
    <br>
    <span class="date_added">
      Added on <time datetime="2008-01-29T16:13:16+00:00" title="2008-01-29 16:13:16 +0000">29 January 2008</time>.
    </span>
    <br>
  </span>

    <div class="make-request-quick-button">
      <a href="https://www.whatdotheyknow.com/new/hmcts" class="link_button_green">Make a request</a>
    </div>
</div>



<div class="body_listing">
  <span class="head">
    <a href="https://www.whatdotheyknow.com/body/dft">Department for Transport</a>
  </span>
  <span class="desc">
        Also called DfT.
        The Department for Transport (Welsh: Adran am Drafnidiaeth) is
the government department responsible for the English transport network
and a limited nu...
      <br>
  </span>
  <span class="bottomline">
    1363 requests made.
    <br>
    <span class="date_added">
      Added on <time datetime="2008-03-03T12:43:39+00:00" title="2008-03-03 12:43:39 +0000"> 3 March 2008</time>.
    </span>
    <br>
  </span>

    <div class="make-request-quick-button">
      <a href="https://www.whatdotheyknow.com/new/dft" class="link_button_green">Make a request</a>
    </div>
</div>



<div class="body_listing">
  <span class="head">
    <a href="https://www.whatdotheyknow.com/body/welsh_government">Welsh Government</a>
  </span>
  <span class="desc">
        Also called Welsh Government.
        The Welsh Government is the institution which supports the work
of the Welsh First minister and his cabinet. The work of the government
is scrutinised...
      <br>
  </span>
  <span class="bottomline">
    489 requests made.
    <br>
    <span class="date_added">
      Added on <time datetime="2008-03-31T14:37:20+01:00" title="2008-03-31 14:37:20 +0100">31 March 2008</time>.
    </span>
    <br>
  </span>

    <div class="make-request-quick-button">
      <a href="https://www.whatdotheyknow.com/new/welsh_government" class="link_button_green">Make a request</a>
    </div>
</div>



<div class="body_listing">
  <span class="head">
    <a href="https://www.whatdotheyknow.com/body/service_childrens_education">Service Children’s Education</a>
  </span>
  <span class="desc">
        SCE provides schools and educational support for children of the
 UK armed forces, Ministry of Defence personnel and MOD sponsored
organisations station...
      <br>
  </span>
  <span class="bottomline">
    6 requests made.
    <br>
    <span class="date_added">
      Added on <time datetime="2008-04-19T16:38:02+01:00" title="2008-04-19 16:38:02 +0100">19 April 2008</time>.
    </span>
    <br>
  </span>

    <div class="make-request-quick-button">
      <a href="https://www.whatdotheyknow.com/new/service_childrens_education" class="link_button_green">Make a request</a>
    </div>
</div>



<div class="body_listing">
  <span class="head">
    <a href="https://www.whatdotheyknow.com/body/sacda">Scottish Advisory Committee on Distinction Awards</a>
  </span>
  <span class="desc">
        Also called SACDA.
        The Scottish Advisory Committee on Distinction Awards is a
non-departmental public body, acts on behalf of Scottish Ministers in
deciding which individ...
      <br>
  </span>
  <span class="bottomline">
    1 request made.
    <br>
    <span class="date_added">
      Added on <time datetime="2008-04-24T00:21:54+01:00" title="2008-04-24 00:21:54 +0100">24 April 2008</time>.
    </span>
    <br>
  </span>

    <div class="make-request-quick-button">
      <a href="https://www.whatdotheyknow.com/new/sacda" class="link_button_green">Make a request</a>
    </div>
</div>



<div class="body_listing">
  <span class="head">
    <a href="https://www.whatdotheyknow.com/body/vapc">Veterans Advisory and Pensions Committees</a>
  </span>
  <span class="desc">
        Also called VAPC.
        Formerly known as the War Pensions Committees.

VAPC is an advisory non-departmental public body, sponsored by the Ministry of Defence.
      <br>
  </span>
  <span class="bottomline">
    1 request made.
    <br>
    <span class="date_added">
      Added on <time datetime="2008-07-02T00:06:54+01:00" title="2008-07-02 00:06:54 +0100"> 2 July 2008</time>.
    </span>
    <br>
  </span>

    <div class="make-request-quick-button">
      <a href="https://www.whatdotheyknow.com/new/vapc" class="link_button_green">Make a request</a>
    </div>
</div>



<div class="body_listing">
  <span class="head">
    <a href="https://www.whatdotheyknow.com/body/nsmc">North South Ministerial Council</a>
  </span>
  <span class="desc">
        Also called NSMC.
      <br>
  </span>
  <span class="bottomline">
    1 request made.
    <br>
    <span class="date_added">
      Added on <time datetime="2008-07-05T20:21:17+01:00" title="2008-07-05 20:21:17 +0100"> 5 July 2008</time>.
    </span>
    <br>
  </span>

    <div class="make-request-quick-button">
      <a href="https://www.whatdotheyknow.com/new/nsmc" class="link_button_green">Make a request</a>
    </div>
</div>



<div class="body_listing">
  <span class="head">
    <a href="https://www.whatdotheyknow.com/body/dstl">Defence Science and Technology Laboratory</a>
  </span>
  <span class="desc">
        Also called Dstl.
        The Defence Science and Technology Laboratory is a trading fund of the Ministry of Defence.
      <br>
  </span>
  <span class="bottomline">
    30 requests made.
    <br>
    <span class="date_added">
      Added on <time datetime="2008-08-25T10:38:06+01:00" title="2008-08-25 10:38:06 +0100">25 August 2008</time>.
    </span>
    <br>
  </span>

    <div class="make-request-quick-button">
      <a href="https://www.whatdotheyknow.com/new/dstl" class="link_button_green">Make a request</a>
    </div>
</div>



<div class="body_listing">
  <span class="head">
    <a href="https://www.whatdotheyknow.com/body/jcio">Judicial Conduct Investigations Office</a>
  </span>
  <span class="desc">
        Also called JCIO.
        The Judicial Conduct Investigation Office is part of the
ministry of Justice. It was formerly known as the Office for Judicial
Complaints.
      <br>
  </span>
  <span class="bottomline">
    84 requests made.
    <br>
    <span class="date_added">
      Added on <time datetime="2008-09-27T08:35:18+01:00" title="2008-09-27 08:35:18 +0100">27 September 2008</time>.
    </span>
    <br>
  </span>

    <div class="make-request-quick-button">
      <a href="https://www.whatdotheyknow.com/new/jcio" class="link_button_green">Make a request</a>
    </div>
</div>



<div class="body_listing">
  <span class="head">
    <a href="https://www.whatdotheyknow.com/body/ploughshare_innovations_ltd">Ploughshare Innovations Ltd</a>
  </span>
  <span class="desc">
        A wholly owned subsidiary of the Defence Science and Technology Laboratory an agency of the Ministry of Defence.
      <br>
  </span>
  <span class="bottomline">
    0 requests made.
    <br>
    <span class="date_added">
      Added on <time datetime="2009-02-24T19:43:09+00:00" title="2009-02-24 19:43:09 +0000">24 February 2009</time>.
    </span>
    <br>
  </span>

    <div class="make-request-quick-button">
      <a href="https://www.whatdotheyknow.com/new/ploughshare_innovations_ltd" class="link_button_green">Make a request</a>
    </div>
</div>



<div class="body_listing">
  <span class="head">
    <a href="https://www.whatdotheyknow.com/body/scottish_futures_trust_limited">Scottish Futures Trust Limited</a>
  </span>
  <span class="desc">
        "The Scottish Futures Trust (SFT) has been set up to help
deliver vital infrastructure projects at better value for taxpayers
money. The SFT is a limit...
      <br>
  </span>
  <span class="bottomline">
    5 requests made.
    <br>
    <span class="date_added">
      Added on <time datetime="2009-03-08T17:15:32+00:00" title="2009-03-08 17:15:32 +0000"> 8 March 2009</time>.
    </span>
    <br>
  </span>

    <div class="make-request-quick-button">
      <a href="https://www.whatdotheyknow.com/new/scottish_futures_trust_limited" class="link_button_green">Make a request</a>
    </div>
</div>



<div class="body_listing">
  <span class="head">
    <a href="https://www.whatdotheyknow.com/body/defence_estates">Defence Estates</a>
  </span>
  <span class="desc">
        Defence Estates (DE) managed the military estate, including
accommodation for Service personnel and their families, on behalf of the
 Ministry of Defenc...
      <br>
  </span>
  <span class="bottomline">
    19 requests made.
    <br>
    <span class="date_added">
      Added on <time datetime="2009-11-21T17:10:38+00:00" title="2009-11-21 17:10:38 +0000">21 November 2009</time>.
    </span>
    <br>
        Defunct.
  </span>

</div>



<div class="body_listing">
  <span class="head">
    <a href="https://www.whatdotheyknow.com/body/dasa">Defence Analytical Services Agency</a>
  </span>
  <span class="desc">
        Also called DASA.
        Provides analytical, economic and statistical services and
advice to the Ministry of Defence, and publishes defence-related
statistics.
      <br>
  </span>
  <span class="bottomline">
    15 requests made.
    <br>
    <span class="date_added">
      Added on <time datetime="2009-11-21T17:26:46+00:00" title="2009-11-21 17:26:46 +0000">21 November 2009</time>.
    </span>
    <br>
  </span>

    <div class="make-request-quick-button">
      <a href="https://www.whatdotheyknow.com/new/dasa" class="link_button_green">Make a request</a>
    </div>
</div>



<div class="body_listing">
  <span class="head">
    <a href="https://www.whatdotheyknow.com/body/science_advisory_council">Science Advisory Council</a>
  </span>
  <span class="desc">
        SAC provides independent scientific advice to Ministers (via Defra's Chief Scientific Adviser).
      <br>
  </span>
  <span class="bottomline">
    3 requests made.
    <br>
    <span class="date_added">
      Added on <time datetime="2010-01-17T14:47:41+00:00" title="2010-01-17 14:47:41 +0000">17 January 2010</time>.
    </span>
    <br>
  </span>

    <div class="make-request-quick-button">
      <a href="https://www.whatdotheyknow.com/new/science_advisory_council" class="link_button_green">Make a request</a>
    </div>
</div>



<div class="body_listing">
  <span class="head">
    <a href="https://www.whatdotheyknow.com/body/highlands_and_islands_airports_limited">Highlands and Islands Airports Limited</a>
  </span>
  <span class="desc">
        Highland and Islands Airports Limited (HIAL) is a public
corporation wholly owned by the Scottish Ministers. The company operates
 and manages 11 Airpor...
      <br>
  </span>
  <span class="bottomline">
    6 requests made.
    <br>
    <span class="date_added">
      Added on <time datetime="2010-02-04T17:15:59+00:00" title="2010-02-04 17:15:59 +0000"> 4 February 2010</time>.
    </span>
    <br>
  </span>

    <div class="make-request-quick-button">
      <a href="https://www.whatdotheyknow.com/new/highlands_and_islands_airports_limited" class="link_button_green">Make a request</a>
    </div>
</div>



<div class="body_listing">
  <span class="head">
    <a href="https://www.whatdotheyknow.com/body/scottish_ministers">Scottish Ministers</a>
  </span>
  <span class="desc">
  </span>
  <span class="bottomline">
    3 requests made.
    <br>
    <span class="date_added">
      Added on <time datetime="2010-02-06T18:13:04+00:00" title="2010-02-06 18:13:04 +0000"> 6 February 2010</time>.
    </span>
    <br>
  </span>

    <div class="make-request-quick-button">
      <a href="https://www.whatdotheyknow.com/new/scottish_ministers" class="link_button_green">Make a request</a>
    </div>
</div>


    </div>
    <div class="pagination"><span class="previous_page disabled">← Previous</span> <em class="current">1</em> <a rel="next" href="https://www.whatdotheyknow.com/select_authority?page=2&amp;query=Minis">2</a> <a class="next_page" rel="next" href="https://www.whatdotheyknow.com/select_authority?page=2&amp;query=Minis">Next →</a></div>
  </div>
</div>

  <div class="asktheeu-promo">
      <h4 class="asktheeu-promo__header">Looking for an EU Authority?</h4>
      <p>You can request <em>documents</em> directly from EU Institutions at our sister site
        <a href="http://asktheeu.org/?utm_source=whatdotheyknow&amp;utm_medium=banner&amp;utm_content=select_authority&amp;utm_campaign=alaveteli-experiments-54">
          AskTheEU.org
        </a>.
        <a href="http://www.asktheeu.org/en/help/requesting/?utm_source=whatdotheyknow&amp;utm_medium=banner&amp;utm_content=select_authority&amp;utm_campaign=alaveteli-experiments-54">
          Find out more
        </a>.
      </p>
      <a href="http://asktheeu.org/?utm_source=whatdotheyknow&amp;utm_medium=banner&amp;utm_content=select_authority&amp;utm_campaign=alaveteli-experiments-54" class="asktheeu-promo__image">
        <img src="Find%20an%20authority%202%20-%20WhatDoTheyKnow_files/ask-the-eu-logo-c51517273b8a42dd66b0f1793610ad1e.png" alt="AskTheEU.org">
      </a>
    </div>

</div>

<div id="select_authority_help" class="select_authority_help">
  <p class="info">Can't find the one you want?</p>
  <p class="actions">
    <a href="https://www.whatdotheyknow.com/body/list/all">Browse all</a> or <a href="https://www.whatdotheyknow.com/help/requesting#missing_body">ask us to add one</a>.
  </p>
</div>