
<h1>Find an authority</h1>

<div id="authority_selection" class="authority_selection">
  <form accept-charset="UTF-8" action="/ap/find_auth_2" id="search_form" method="get"><div style="margin:0;padding:0;display:inline"><input name="utf8" value="✓" type="hidden"></div>
    <div>
      <p>
        First, type in the <strong>name of the public authority</strong> you'd
        like information from.
          <strong>By law, they have to respond</strong> (<a href="/help/about#whybother_them">why?</a>).
      </p>
      <label for="query" class="visually-hidden">Authority name</label>
      <input id="query" name="query" placeholder="e.g. Ministry of Defence" size="30" title="type your search term here" type="text">
      <input id="bodies" name="bodies" value="1" type="hidden">
      <input name="commit" value="Search" type="submit">
    </div>

</form>
  <div id="typeahead_response" class="typeahead_response">

  </div>

</div>

<div id="select_authority_help" class="select_authority_help">
  <p class="info">Can't find the one you want?</p>
  <p class="actions">
    <a href="/body/list/all">Browse all</a> or <a href="/help/requesting#missing_body">ask us to add one</a>.
  </p>
</div>