<div id="wrapper">
  <div id="content" class="pro-login" role="main">
    <h2>Log in</h2>
    <div id="signin" class="signin">
      <form accept-charset="UTF-8" action="/ap/dashboard" id="signin_form" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" value="✓" type="hidden"><input name="authenticity_token" value="" type="hidden"></div>
      <p>
        <label class="form_label" for="user_signin_email">Your e-mail:</label>
        <input id="user_signin_email" name="user_signin[email]" size="20" tabindex="60" type="text">
      </p>
      <p>
        <label class="form_label" for="user_signin_password">Password:</label>
        <input autocomplete="off" id="user_signin_password" name="user_signin[password]" size="15" tabindex="70" type="password">
      </p>
      <p class="form_checkbox">
        <input id="remember_me" name="remember_me" tabindex="90" value="1" type="checkbox">
        <label for="remember_me">
          Remember me <small>(keeps you signed in longer; do not use on a public computer)</small>
        </label>
      </p>
      <div class="form_button">
        <input id="signin_token" name="token" value="m6mtxwu8eli4uvpr3lz" type="hidden">
        <input id="signin_modal" name="modal" type="hidden">
        <input name="commit" tabindex="100" value="Sign in" type="submit">
      </div>
      <p class="form_note">
        <a href="#" tabindex="80">Forgotten your password?</a>
      </p>
    </form>
  </div>
  </div>
</div>