<div class="marketing-container">
  <div class="marketing">
    <div class="marketing-inner">
      <h1>
        <span class="topline"><strong>WhatDoTheyKnow</strong> for the</span>
        <span class="bottomline">NEWSDESK</span>
      </h1>
      <div class="features">
        <div class="feature">
          <h2>Keep your requests private</h2>
          <p>
            Our embargo feature lets you keep requests to yourself for as long as
            you need. Don't lose that scoop!
          </p>
        </div>
        <div class="feature">
          <h2>Make requests in bulk</h2>
          <p>
            Easily manage requests to multiple authorities from one place with
            our dashboard.
          </p>
        </div>
        <div class="feature">
          <h2>Automatic reminders</h2>
          <p>
            Know when you need to chase up a response, or when it's time to dust
            off that evergreen Christmas lights story.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>