<form accept-charset="UTF-8" action="/ap/request_waiting" class="new_info_request" id="preview_form" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" value="✓" type="hidden"><input name="authenticity_token" value="h7T9BLeXXSrYboogv8eMWN8tmGilDbFTG0SyfZRG1QE=" type="hidden"><input name="show_new_request_flash" value="1" type="hidden"></div>
  <h1>Preview your request</h1>

  <div class="message-preview">
    <div class="preview-advice">
      <div class="advice-panel">
        <ul>
          <li>
        </ul>
      </div>
    </div>

    <div class="preview-pane">

        <div class="correspondence box" id="outgoing-0">
          <p class="preview_to">
            <strong>To</strong>
              Department for Exiting the European Union

          </p>
          <p class="preview_subject">
            <strong>Subject</strong> Freedom of Information request - Details on Article 50
          </p>

          <div class="correspondence_text">
            <p></p><p>Dear Department for Exiting the European Union,</p>

      <p>Please provide the meeting minutes of any discussions around the triggering Article 50.</p>

      <p>Yours faithfully,</p>

      <p>Bill Murray</p><p></p>
            <input id="outgoing_message_body" name="outgoing_message[body]" value="Dear mySociety Test Quango,This is an example requestYours faithfully,Louise Crow" type="hidden">
          </div>

          <p class="event_actions"></p>
        </div>

      <p>
        <input id="info_request_title" name="info_request[title]" value="Example request" type="hidden">
          <input id="info_request_public_body_id" name="info_request[public_body_id]" value="2" type="hidden">

        <input id="info_request_tag_string" name="info_request[tag_string]" value="" type="hidden">
        <input id="submitted_new_request" name="submitted_new_request" value="1" type="hidden">
        <input id="preview" name="preview" value="0" type="hidden">
        <a id="reedit_button" href="/ap/write_request_v2">Edit your request</a>
        <input data-disable-with="Sending..." id="submit_button" name="submit" value="Send request" type="submit">
      </p>

    </div>
  </div>
</form>