<div class="request-page">

  <a href="<%= ap_requests_path %>" class="back-to-requests-button">
    Back to requests
  </a>

  <h1>Domestic abuse records 2014-2016</h1>

  <p>Request to <a href="https://www.whatdotheyknow.com/body/cps">Crown Prosecution Service</a></p>

  <div class="request-status-and-actions">
    <p id="request_status" class="request_icon_line icon_partially_successful">
      <strong>Partially successful</strong>
    </p>

    <div class="request__actions">
      <select id="actions" class="actions">
        <option>Actions</option>
        <option>Send followup</option>
        <option>Update status</option>
        <option>Request internal review</option>
        <option>Download zip file of correspondence</option>
      </select>
    </div>
  </div>


  <div class="outgoing correspondence" id="outgoing-576371">

    <div class="correspondence__header">
      <div class="correspondence__header__from--with-delivery-status">
        Bill Murray

        <a href="#outgoing-576371" class="correspondence__header__date">
          <time datetime="2016-09-07T10:48:04+01:00" title="2016-09-07 10:48:04 +0100"> 7 September 2016</time>
</a>
      </div>

      <div class="correspondence__header__delivery-status">
        <a href="" class="toggle-delivery-log toggle-delivery-log--delivered js-toggle-delivery-log" data-delivery-status="delivered">              Delivered</a>
      </div>
    </div>

    <div class="js-delivery-log-ajax-error" aria-hidden="true" style="display: none; visibility: hidden;" hidden="">
      <p>We couldn’t load the mail server logs for this message.</p>
      <p><a href="" target="_blank">Try opening the logs in a new window.</a></p>
    </div>

    <div class="correspondence_text">

      <p></p><p>Dear Crown Prosecution Service,</p>

      <p>Please provide the domestic abuse records 2014-2016. </p>

      <p>Yours faithfully,</p>

      <p>Bill Murray</p><p></p>
    </div>

  </div>


  <div class="incoming correspondence normal" id="incoming-877985">
    <div class="correspondence__header">
      <div class="correspondence__header__from">
          Freedom of Information Unit,

          Crown Prosecution Service

        <a href="#incoming-877985" class="correspondence__header__date">
          <time datetime="2016-10-06T10:07:26+01:00" title="2016-10-06 10:07:26 +0100"> 6 October 2016</time>
  </a>
      </div>
    </div>

    <div class="correspondence_text">

      <p></p><p>Dear Mr Cameron,</p>

      <p> Freedom of Information Act 2000 Request</p>

      <p> I refer to your Freedom of Information (FOI) request which we received on
      <br> 07.09.16.</p>

      <p> I am sorry but we are not in a position to respond to your request within
      <br> the 20 working day time frame imposed by the FOI Act.</p>

      <p> We aim to respond by 10.10.16.</p>

      <p> If we cannot provide a final response on that date we will provide you
      <br> with an update.</p>

      <p> Please accept our apologies for the delay.</p>
      <p> Yours sincerely</p>

      <p> Mr N Sharma</p>

      <p> Information Management Advisor</p>

      <p> Crown Prosecution Service</p>

      <p> Rose Court, 2 Southwark Bridge, London SE1 9HS</p>

      <p> Tel: 0203 357 0899</p>

      <p> [1]www.cps.gov.uk</p>

      <p> *********************************************************************+
      <br> This e-mail is private and is intended only for the addressee and any copy recipients.
      <br> If you are not an intended recipient, please advise the sender immediately by reply
      <br> e-mail and delete this message and any attachments without retaining a copy.</p>

      <p> Activity and use of CPS Connect systems, the Government Secure Intranet, and the
      <br> Criminal Justice Extranet is monitored to secure their effective operation and for
      <br> other lawful business purposes. Communications using these systems will also be
      <br> monitored and may be recorded to secure effective operation and for other
      <br> lawful business purposes.
      <br> *********************************************************************</p>

      <p>References</p>

      <p> Visible links
      <br> 1. <a href="http://www.cps.gov.uk/">http://www.cps.gov.uk/</a></p><p></p>
    </div>

  </div>

  <div class="incoming correspondence normal" id="incoming-882370">
    <div class="correspondence__header">
      <div class="correspondence__header__from">
          Freedom of Information Unit,

          Crown Prosecution Service

        <a href="#incoming-882370" class="correspondence__header__date">
          <time datetime="2016-10-14T15:51:56+01:00" title="2016-10-14 15:51:56 +0100">14 October 2016</time>
  </a>    </div>
    </div>



    <div class="correspondence_text">
      <div class="attachments">
        <div class="attachments__header">
          <h3>
            1 Attachment
          </h3>
        </div>

        <ul class="list-of-attachments">
            <li class="attachment">

                <a href=""><img alt="Attachment" class="attachment__image" src="<%= image_path("icon_application_vnd.ms-word_large.png") %>"></a>

              <p class="attachment__name">Cameron 6354.doc</p>

              <p class="attachment__meta">
                189K
                <a href="">Download</a>
                  <a href="">View as HTML</a>
                <!-- (application/vnd.ms-word) -->

              </p>
            </li>
        </ul>

        <a href="#" class="attachments__show-more" style="display: none;"></a>
      </div>

      <p></p><p>Dear Mr Cameron,</p>

      <p> Freedom of Information Act 2000 Request</p>

      <p> Please accept our apologies for the delay in providing you with a
      <br> response.</p>

      <p> Please see the attached response to your Freedom of Information request.</p>

      <p> Yours sincerely</p>

      <p> M N Sharma</p>


      <p> Information Management Advisor</p>

      <p> Crown Prosecution Service</p>

      <p> Rose Court, 2 Southwark Bridge, London SE1 9HS</p>

      <p> Tel: 0203 357 0899</p>

      <p> [1]www.cps.gov.uk</p>

      <p> *********************************************************************+
      <br> This e-mail is private and is intended only for the addressee and any copy recipients.
      <br> If you are not an intended recipient, please advise the sender immediately by reply
      <br> e-mail and delete this message and any attachments without retaining a copy.</p>

      <p> Activity and use of CPS Connect systems, the Government Secure Intranet, and the
      <br> Criminal Justice Extranet is monitored to secure their effective operation and for
      <br> other lawful business purposes. Communications using these systems will also be
      <br> monitored and may be recorded to secure effective operation and for other
      <br> lawful business purposes.
      <br> *********************************************************************</p>

      <p>References</p>

      <p> Visible links
      <br> 1. <a href="http://www.cps.gov.uk/">http://www.cps.gov.uk/</a></p><p></p>
    </div>
  </div>

  <div class="outgoing correspondence" id="outgoing-592208">

    <div class="correspondence__header">
      <div class="correspondence__header__from--with-delivery-status">
        Bill Murray

        <a href="#outgoing-592208" class="correspondence__header__date">
          <time datetime="2016-10-27T15:27:24+01:00" title="2016-10-27 15:27:24 +0100">27 October 2016</time>
        </a>
      </div>

    </div>

    <div class="js-delivery-log-ajax-error" aria-hidden="true" style="display: none; visibility: hidden;" hidden="">
      <p>We couldn’t load the mail server logs for this message.</p>
      <p><a href="" target="_blank">Try opening the logs in a new window.</a></p>
    </div>

    <div class="correspondence_text">

      <p></p><p>Dear Freedom of Information Unit,</p>

      <p>Thank you. </p>

      <p>Yours sincerely,</p>

      <p>Bill Murray</p><p></p>
    </div>
  </div>

</div>  <!-- .dashboard -->




