<div class="request-page">

  <a href="<%= ap_requests_path %>" class="back-to-requests-button">
    Back to requests
  </a>

  <% if @info_request %>
    <h1><%= @info_request[:title] %></h1>
  <% else %>
    <h1>Details on Article 50</h1>
  <% end %>

  <p>
    Request to
    <% if @info_request %>
      <a href=""><%= @info_request[:public_body][:name] %></a>
    <% else %>
      <a href="">Department for Exiting the European Union</a>
    <% end %>
  </p>

  <div class="request-status-and-actions">
    <p id="request_status" class="request_icon_line icon_waiting_response">
      <strong>Awaiting response</strong>
    </p>

    <div class="request__actions">
      <select id="actions" class="actions">
        <option>Actions</option>
        <option>Send followup</option>
        <option>Update status</option>
        <option>Request internal review</option>
        <option>Download zip file of correspondence</option>
      </select>
    </div>
  </div>


  <div class="outgoing correspondence" id="outgoing-576371">

    <div class="correspondence__header">
      <div class="correspondence__header__from--with-delivery-status">
        Bill Murray

        <a href="#outgoing-576371" class="correspondence__header__date">
          <time datetime="2016-09-07T10:48:04+01:00" title="2016-09-07 10:48:04 +0100"> 7 September 2016</time>
</a>
      </div>

      <div class="correspondence__header__delivery-status">
        <a href="" class="toggle-delivery-log toggle-delivery-log--delivered js-toggle-delivery-log" data-delivery-status="delivered">              Delivered</a>
      </div>
    </div>

    <div class="js-delivery-log-ajax-error" aria-hidden="true" style="display: none; visibility: hidden;" hidden="">
      <p>We couldn’t load the mail server logs for this message.</p>
      <p><a href="" target="_blank">Try opening the logs in a new window.</a></p>
    </div>

    <div class="correspondence_text">

      <% if @outgoing_message %>
        <%= simple_format @outgoing_message[:body] %>
      <% else %>
        <p></p><p>Dear Department for Exiting the European Union,</p>

        <p>Please provide the meeting minutes of any discussions around the triggering Article 50.</p>

        <p>Yours faithfully,</p>

        <p>Bill Murray</p><p></p>
      <% end %>
    </div>

  </div>

</div>  <!-- .dashboard -->




