<div class="dashboard">

  <div class="dashboard-header">
    <h1>Requests</h1>
  </div>

  <div class="dashboard-body">

    <div class="dashboard-left-column">

      <%= render partial: 'alaveteli_professional/shared/dashboard_folders' %>

    </div> <!-- .dashboard-left-column -->

    <div class="dashboard-right-column">

      <div class="requests">
        <div class="requests__folder-title">
          <h2>All requests</h2>
        </div>
        <div class="requests__header">
          <div class="requests__search">
            <input type="text" placeholder="Search">
          </div>
          <div class="requests__sort">
            <label for="sort-options">Sort by: </label>
            <select id="sort-options">
              <option>Last updated</option>
              <option>First created</option>
              <option>Title (A-Z)</option>
            </select>
          </div>
          <div class="requests__filters">
            <label for="filters">Filter by: </label>
            <select id="filters" class="filters">
              <option>All requests</option>
              <option>Drafts</option>
              <option>Awaiting response</option>
              <option disabled>Response recieved</option>
              <option>Clarification needed</option>
              <option>Complete</option>
              <option>Status unknown</option>
            </select>
          </div>

        </div> <!-- .requests-header -->

        <div class="requests__list">

          <div class="request">
            <h3 class="request__title">
              <a href="#">Domestic abuse records 2014-2016</a>
            </h3>
            <div class="request__meta">
              <div class="request__recipient">
                <span class="request__meta__label">Request to</span>
                Wiltshire Constabulary
              </div>
              <div class="request__created">
                <span class="request__meta__label">Created</span>
                11-07-2016
              </div>
              <div class="request__updated">
                <span class="request__meta__label">Updated</span>
                09-07-2016
              </div>
              <div class="request__status">
                <span class="request__meta__label">Status</span>
                Awaiting response
              </div>
              <div class="request__actions">
                <select id="actions">
                  <option>Actions</option>
                  <option>View</option>
                  <option>Send followup</option>
                </select>
              </div>
            </div>
          </div> <!-- .request -->

        </div> <!-- .requests__list -->

      </div> <!-- .requests -->

    </div>  <!-- .dashboard-right-column -->

  </div>  <!-- .dashboard-body -->

</div>  <!-- .dashboard -->