<div class="dashboard">

  <div class="dashboard-header">
    <h1>Requests</h1>
  </div>

  <div class="dashboard-body">

    <div class="dashboard-left-column">

      <%= render partial: 'alaveteli_professional/shared/dashboard_folders' %>

    </div> <!-- .dashboard-left-column -->

    <div class="dashboard-right-column">

      <div class="dashboard-todo">

        <h2 class="dashboard-todo__title">Things to do today</h2>

        <ul class="dashboard-todo__list">
          <li class="dashboard-todo__list__item">
            7 requests are Status unknown. <a href="#">Update statuses.</a>
          </li>
          <li class="dashboard-todo__list__item">
            1 embargo is ending this week. <a href="#">Extend or approve this
            embargo.</a>
          </li>
          <li class="dashboard-todo__list__item">
            3 requests are overdue or very overdue. <a href="#">Send follow ups (or request internal reviews).</a>
          </li>
        </ul>

      </div>  <!-- .dashboard-todo -->

      <div class="dashboard-activity">

        <h2 class="dashboard-activity__title">Activity</h2>

        <div class="dashboard-activity__item">
          <div class="dashboard-activity__item__time">Just now</div>
          <div class="dashboard-activity__item__description">
            <p>
              You sent a request to Ambridge district council:
              <a href="#">“Annual budget for survivors of domestic abuse”</a>.
            </p>
          </div>
        </div>

        <div class="dashboard-activity__item">
          <div class="dashboard-activity__item__time">Today, 9am</div>
          <div class="dashboard-activity__item__description">
            <p>
              Your request to the Ministry of Justice: <a href="#">“How much
              is spent on subsidised parking”</a> has a new response.
              <a href="#">View</a>
            </p>
          </div>
        </div>

        <div class="dashboard-activity__item">
          <div class="dashboard-activity__item__time">Yesterday, 5pm</div>
          <div class="dashboard-activity__item__description">
            <p>
              The embargo for your request “Secondary schools place assignment
              in Leicester” has ended and is now live. <a href="#">View</a>
            </p>
          </div>
        </div>

        <div class="dashboard-activity__item">
          <div class="dashboard-activity__item__time">Yesterday, 12pm</div>
          <div class="dashboard-activity__item__description">
            <p>
              Borsetshire council is now very overdue in responding to your
              request <a href="#">“Cost of policing for fireworks display”</a>.
              <a href="#">Request an internal review</a>
            </p>
          </div>
        </div>

        <div class="dashboard-activity__item">
          <div class="dashboard-activity__item__time">18th October</div>
          <div class="dashboard-activity__item__description">
            <p>
              Borsetshire council is now overdue in responding to your request
              <a href="#">“Cost of policing for fireworks display”</a>.
              <a href="#">Send an automatic follow up</a>
            </p>
          </div>
        </div>

        <div class="dashboard-activity__item">
          <div class="dashboard-activity__item__time">23rd September</div>
          <div class="dashboard-activity__item__description">
            <p>
              Louise Crow added a new annotation on your request to the
              Department for Health: <a href="#">“Waiting times”</a>.
              <a href="#">View</a>
            </p>
          </div>
        </div>



      </div> <!-- .dashboard-activity -->

    </div>  <!-- .dashboard-right-column -->

  </div>  <!-- .dashboard-body -->

</div>  <!-- .dashboard -->