

<form accept-charset="UTF-8" action="/ap/preview_request" class="new_info_request" id="write_form" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" value="✓" type="hidden"><input name="authenticity_token" value="h7T9BLeXXSrYboogv8eMWN8tmGilDbFTG0SyfZRG1QE=" type="hidden"></div>
  <div id="request_header" class="request_header">
    <div id="request_header_body" class="request_header_body">
      <h1>Make a request</h1>






        <p id="to_public_body" class="to_public_body">
          <span class="to_public_body_label">To:</span>
          <input name="info_request[public_body_id]"
                 type="text"
                 class="recipients-input js-recipients-input"
                 placeholder="Search for the authority, e.g. Department for Exiting the European Union ">
        </p>

        <p>
          Want to send the same request to more than one authority?
          <a href="" onclick="$('.ui-dialog-content').dialog('close'); $('.dialog-bulk-request').dialog(); return false">Use our bulk request tool</a>
          <div class="dialog-bulk-request js-hide" title="Whoops">
            <p>Sorry, we haven't made this bit yet</p>
          </div>
        </p>

    </div>
  </div>


  <div class="request_body">
    <div id="request_advice" class="request_advice">

    </div>

    <div id="request_form" class="request_form">
      <div id="request_header_subject" class="request_header_subject">
        <p>
          <label class="form_label" for="typeahead_search">Summary:</label>
          <input id="typeahead_search" name="info_request[title]" size="50" type="text">
        </p>

        <div class="form_item_note">
          A one line summary of the information you are requesting,
      e.g.
            'Crime statistics by ward level for Wales'
        </div>
      </div>

      <div id="typeahead_response" class="typeahead_response">
      </div>


        <p>
          <label class="form_label" for="outgoing_message_body">
            Your request:</label>
          <textarea cols="60" id="outgoing_message_body" name="outgoing_message[body]" rows="20">



Yours faithfully,

Bill Murray</textarea>
        </p>

        <p>
          <label class="form_label" for="outgoing_message_embargo">
            Embargo
          </label>
        </p>
        <p>
            <input type="checkbox"
                   value="1"
                   id="outgoing_message_embargo"
                   class="js-embargo-checkbox"
                   name="set_embargo">&nbsp;Embargo this request?

        </p>
        <div class="js-hide js-embargo-duration">
          <p>
            <label class="form_label" for="embargo_duration">
              How long for?
            </label>
            <select id="embargo_duration"
                    name="embargo[duration]">
              <option value="3_months">3 Months</option>
              <option value="6_months">6 Months</option>
              <option value="9_months">9 Months</option>
              <option value="12_months">12 Months</option>
              <option value="forever" disabled>
                Forever (you need to upgrade your account for permanent embargoes)
              </option>
            </select>
          </p>
          <p>
            <label class="form_label">
              <input type="checkbox"
                     value="1"
                     id="set_embargo_default"
                     name="set_embargo_default">&nbsp;Use these embargo settings for my future requests
            </label>
          </p>
        </div>
        <p class="form_item_note">
          Your request and all correspondence will only be viewable by you and
          our admin team for the duration of the embargo. We'll send you a
          reminder before it runs out, so you can extend the embargo or make
          the request public.
          <br>
          <br>
          When you make your request public, <strong>your name and all
          correspondence</strong> associated with the request <strong>will be
          shown on whatdotheyknow.com</strong> and be visible in search engines
          <strong>forever</strong>.
          <br>
          <br>
        </p>

      <div class="form_button">
        <input name="commit" value="Preview your request" type="submit">
      </div>

    </div>
  </div>
</form>
